#action
{
    width: 100%;
    background-color: #114A5B;
}

.action-title
{
    text-align: center;
    font-family: Exo;
    font-weight: bold;
    color: white;
    font-size: 200%;
    width: 100%;
    height: 10%;
    padding-top: 2%;
}