#education
{
    width: 100%;
    background-color: #114A5B;
    /*background-color: red;*/
}

.education-title
{
    text-align: center;
    font-family: Exo;
    font-weight: bold;
    color: white;
    font-size: 200%;
    width: 100%;
    height: 10%;
    padding-top: 2%;
}

.education-info-box
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.education-info-box img
{
    width: 30%;
    height: auto;
}

.education-info
{
    font-family: Exo;
    font-weight: normal;
    color: white;
    font-size: 150%;
    width: 40%;
}

.education-info span, .education-info-1 span
{
    color: red;
}

.education-info-1
{
    font-family: Exo;
    font-weight: normal;
    color: white;
    font-size: 150%;
    padding: 0 15%;
}

.human-activities-box
{
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.human-activities-box img
{
    width: 25%;
    height: auto;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 10px 10px 5px #0e3d4a;
}

.education-info-1 img
{
    margin: 5% 0;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 10px 10px 5px #0e3d4a;
}