#footer
{
    width: 100%;
    background-color: #114A5B;
    padding: 0 0;
    margin: 0 0;
}

.footer-image-container
{
    position: relative;
    width: 100%;
    border-width: 0px;
    background-image: url("../images/background-footer.png");
    background-size: cover;
    padding: 0 0;
    margin: 0 0;
}

.footer-image-container img
{
    width: 100%;
    height: auto;
    background-color: #114A5B;
    margin: 0 0;
}

.footer-image-message-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: space-evenly;
}

.footer-image-message-box div
{
    text-align: center;
    font-family: Exo;
    font-weight: bold;
    color: white;
    padding: 0 0;
    /*font-size: 200%;*/
    background-color: rgba(0, 0, 0, 0);
}

.footer-image-message-box div span
{
    color: red;
}

.footer-image-message-box div:nth-child(2)
{
    width: 100%;
}

.footer-info-container
{
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    background-color: #000000;;
}

.footer-info-container img
{
    height: auto;
    width: 15%;
}

.footer-info-text
{
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.footer-info-text div
{
    font-family: Exo;
    color: white;
    padding: 0 0;
    font-size: 100%;
    width: 70%;
}

.footer-info-text div:nth-child(1)
{
    font-size: 250%;
    width: 100%;
    text-align: center;
}

.footer-info-text div:nth-child(2)
{
    margin-top: 2%;
    width: 100%;
    text-align: justify;
}