.pan
{
    background-color: black;
    font-family: Exo;
    font-size: inherit;
}

.pan-title
{
    width: 100%;
    font-size: 4rem;
    color: white;
    padding-top: 50px;
    padding-bottom: 5px;
    text-align: center;
}

#pan-description
{
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    font-size: 2.2rem;
    color: white;
    transition: all 0.75s;
}

#pan-gallery
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    transition: all 0.75s;
    font-size: inherit;
}

.pan-expanded-info
{
    width: 0px;
    opacity: 0;
    background-color: white;
    transition: all 0.75s;
    padding: 10px 40px;
    padding-bottom: 50px;
    font-size: inherit;
}

.pan-expanded-info-title
{
    font-size: 4rem;
}

.pan-expanded-info-text
{
    padding-top: 2rem;
    font-size: 2.2rem;
    line-height: 4rem;
}