html, body
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
}

.header
{
    background-color: aqua;
    width: 100%;
    height: 50%;
}

.info
{
    background-color: red;
    width: 100%;
    height: 50%;
}

.education
{
    background-color: blue;
    width: 100%;
    height: 50%;
}

.action
{
    background-color: violet;
    width: 100%;
    height: 50%;
}

.footer
{
    background-color: green;
    width: 100%;
    height: 50%;
}